.form-modal {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
  }

  .form-modal__wrapper{
    position: relative;
    background-color: rgb(215, 183, 147);
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15%;
    border-radius: 20px;
  }
